.navbar-background {
  /* background-color: #001c41 !important; */
  background-image: url('../../img/header.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.spanheader {
  margin-left: auto;
  color: white;
  font-size: 23px;
}

.spanheader p.text-center {
  font-weight: bold;
}

.logo-fonasa {
  width: 110px;
}

/* Bootstrap medium */
@media only screen and (min-width: 768px) {
  .logo-fonasa {
    width: 140px;
  }

  .navbar-background {
    height: 160px;
  }
}

/* Bootstrap large */
@media only screen and (min-width: 992px) {
  /* nav.navbar-dark {
      background-size: cover;
    } */
}
